
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #12372a(0 20% 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: auto 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    height: 90%;
}

.sidebar {
    grid-row: span 2;
    background-color: #273526;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    background: #fbfada;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stat-box {
    background: #adbc9f;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.chart {
    background: #747264;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile {
    grid-row: span 2;
    background-color: #d4d0b9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile img {
    border-radius: 50%;
}

.logout {
    background: #e53e3e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /*cursor: pointer;*/
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr;
    }

    .sidebar, .profile {
        grid-row: auto;
    }

    .stats, .charts {
        grid-template-columns: 1fr;
    }
}
